.job {
  margin: 5px 0;
}

.date {
  display: inline-block;
  width: 180px;
}

.head {
  display: inline-block;
  vertical-align: top;
  max-width: 800px;
}

.content {
  margin: 5px 0;
  ul {
    margin: 5px;
  }
}