.navBar {
  position: relative;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #6c757d;
}

.nav {
  position: relative;
  float: right;

  a {
    margin: 0 5px;
    color: #6c757d;

    i {
      line-height: 50px;
    }
  }
}