body {
    font-size: 1em;
}

.profile-picture {
    border: 0.2em solid grey;
    border-radius: 0.5em;
    text-align: center;
}

.profile-picture img {
    width: 100%;
    border-radius: 0.5em;
}

.profile-picture label {
    color: grey;
}

.block {
    display: block;
}

.none {
    display: none;
}